<table class= "table table-bordered" style="color: #000000;" >
  <thead>
    <tr>
      <th>名前</th>
      <th>性別</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.gender %></td>
        <td><%= link_to '詳細', customer_path(customer), class: "customer_#{customer.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
