<div class= 'container'>
  <div class='row mt-5', style='margin: 0 auto;'>
   <h1 style="margin: 0 auto;">About</h1>
  </div>
  <div class= row>
   <div class="container-fluid">
    <p>
       bookreviewは本のレビューサイトです。<br>
       本の評価を見て、目的の本を探す。<br>
       また、本を評価して感想を投稿する。<br>
       ご自身にとっていい本を見つけられるのに役立ててもらえたらうれしいです。 
    </p>
    
   </div>
   
  </div>
</div>