<div class='container'>
  <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
     <div class="form-group">
     <%= form_with url: books_path , method: :get, local: true do |f| %>
      <%= f.text_field :keyword, class: "form-control" %>
      <%= f.submit '本の題名を検索', class: "form-control btn btn-success" %>
     <% end %>
     </div>
    </div>
    <div class='col-md-2'></div>
  </div>
</div>
