<div class='container'>
  <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8 text-center'>
    <div class="form-group">
    <%= form_tag(books_path, method: :get) do %>
   　    <%= text_field_tag :title, @title, placeholder: "本のタイトルを入力" %>
        <%= button_tag type: "submit", class: "btn btn-primary" do %>
        検索
        <% end %>
    <% end %>
    </div>
    </div>
    <div class='col-md-2'></div>
  </div>
</div>
