<footer class="mt-auto py-3" style="background-color: #8b4513; color: #eaedf7;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <i class="fa-regular fa-copyright"> BOOK REVIEW</i>
     </div>
  </div>
</footer>